<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="os" value="window"></parameter> 
  <parameter name="browser" value="chrome"></parameter>
  <classes>
   <class name="testCase.TC001_TextBoxFormTest"></class>
   <class name="testCase.TC002_CheckBoxTest"></class>
   <!-- <class name="testCase.TC003_RadioButtonTest"></class>
   <class name="testCase.TC004_DataTableCRUDOpsTest"></class>
   <class name="testCase.TC005_ButtonsTest"></class>
   <class name="testCase.TC006_LinksTest"></class>
   <class name="testCase.TC007_UploadFileTest"></class>
   <class name="testCase.TC008_DynamicPropertiesTest"></class>
   <class name="testCase.TC009_BrokenImageTest"></class>
   <class name="testCase.TC010_AlertFrameWindowHandlingTest"></class>
   <class name="testCase.TC011_SimpleAlertTest"></class>
   <class name="testCase.TC012_DelayedAlertTest"></class>
   <class name="testCase.TC013_ConfirmationAlertTest"></class>
   <class name="testCase.TC014_PromtAlertTest"></class> -->
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
